2025/03/ePovZH5wdbA6OkNq.json
{
  "active": false,
  "connections": {
    "Get Posts": {
      "main": [
        [
          {
            "node": "Filter Posts By Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Input": {
      "main": [
        [
          {
            "node": "Filter Posts By Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 3 Inputs": {
      "main": [
        [
          {
            "node": "Output The Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Select Key Fields": {
      "main": [
        [
          {
            "node": "Merge Input",
            "type": "main",
            "index": 1
          },
          {
            "node": "Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Post Summarization",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Post Summarization": {
      "main": [
        [
          {
            "node": "Edit Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Posts By Content": {
      "main": [
        [
          {
            "node": "Post Summarization",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge 3 Inputs",
            "type": "main",
            "index": 2
          },
          {
            "node": "Find Proper Solutions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Posts By Features": {
      "main": [
        [
          {
            "node": "Select Key Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Agent": {
      "main": [
        [
          {
            "node": "Merge Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Proper Solutions": {
      "main": [
        [
          {
            "node": "Edit Solution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Solution": {
      "main": [
        [
          {
            "node": "Merge 3 Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Summary": {
      "main": [
        [
          {
            "node": "Merge 3 Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Find Proper Solutions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output The Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Send Starting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Starting": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-22T16:10:13.989Z",
  "id": "ePovZH5wdbA6OkNq",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Business Ideas",
  "nodes": [
    {
      "parameters": {},
      "id": "cc50ee18-0b0c-47e8-a6f8-00a4ee3711c5",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -2020,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "4aa336ac-4300-4265-910f-27a5cfc5a623",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -980,
        740
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "9TQJVOrXO3CFaZ06",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "da3bb154-7e30-4f8c-b974-f78e7581d119",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        100,
        680
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "9TQJVOrXO3CFaZ06",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e9b3b1fa-bea2-4dc4-a34e-2a29a890ea3f",
      "name": "Post Summarization",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        100,
        520
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "3a8eaf51-6645-4478-9bd7-fe40479654a4",
      "name": "Merge Input",
      "type": "n8n-nodes-base.merge",
      "position": [
        -600,
        800
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1m60I8WV3eEWnw1kLCiMUHymbGnFNpGOAEQQn6SlN33w",
          "mode": "list",
          "cachedResultName": "Redit Business Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m60I8WV3eEWnw1kLCiMUHymbGnFNpGOAEQQn6SlN33w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.subredit }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Subreddit_size": "={{ $json.subreddit_subscribers }}",
            "Post_date": "={{ $json.date }}",
            "Upvotes": "={{ $json.upvotes }}",
            "Post_url": "={{ $json.url }}",
            "Post_summary": "={{ $json.summary }}",
            "Post_solution": "={{ $json.solution }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Subreddit_size",
              "displayName": "Subreddit_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post_date",
              "displayName": "Post_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Upvotes",
              "displayName": "Upvotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post_url",
              "displayName": "Post_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post_summary",
              "displayName": "Post_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post_solution",
              "displayName": "Post_solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "096a943f-6362-40f7-a8e3-bbb655a19566",
      "name": "Output The Results",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1100,
        780
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wS1at26zUEdjhSQQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "57c89174-1954-42f9-810a-9e4923db34f8",
      "name": "Merge 3 Inputs",
      "type": "n8n-nodes-base.merge",
      "position": [
        900,
        780
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0823d10a-ad54-4d82-bcea-9dd236e97857",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.ups }}",
              "rightValue": 2
            },
            {
              "id": "bb8187aa-f0f1-4999-8d4b-bdc9abba0618",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.selftext }}",
              "rightValue": ""
            },
            {
              "id": "539f0f5c-025a-4f82-9b3a-2ef1ad3a2d96",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              },
              "leftValue": "={{ DateTime.fromSeconds($json.created).toISO() }}",
              "rightValue": "={{ $today.minus(180,'days').toISO() }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b3da78e6-cb72-4c7f-8db9-5efb846dc61e",
      "name": "Filter Posts By Features",
      "type": "n8n-nodes-base.if",
      "position": [
        -1580,
        900
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d5d38c01-3a88-4767-b488-d9c04145bb8f",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "yes"
            }
          ]
        },
        "options": {}
      },
      "id": "dd6a56ac-85cd-4256-a180-a5a1334385e6",
      "name": "Filter Posts By Content",
      "type": "n8n-nodes-base.if",
      "position": [
        -360,
        800
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5082ecc-3add-474e-bdb5-b8ad64729930",
              "name": "upvotes",
              "type": "string",
              "value": "={{ $json.ups }}"
            },
            {
              "id": "a92b5859-fbcc-40c2-95e0-452b12530d98",
              "name": "subreddit_subscribers",
              "type": "number",
              "value": "={{ $json.subreddit_subscribers }}"
            },
            {
              "id": "a846e21c-6cff-4521-9e0c-a32fa1305376",
              "name": "postcontent",
              "type": "string",
              "value": "={{ $json.selftext }}"
            },
            {
              "id": "b8045389-684d-4872-9e32-9a6b5511eb2b",
              "name": "url",
              "type": "string",
              "value": "={{ $json.url }}"
            },
            {
              "id": "f182fedc-1b09-40fe-aeb5-2473263da442",
              "name": "date",
              "type": "string",
              "value": "={{ DateTime.fromSeconds($json.created).toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d6d3ab8f-b187-4888-aa60-0c8d7749a03c",
      "name": "Select Key Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -1340,
        880
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "search",
        "subreddit": "={{ $('When Executed by Another Workflow').item.subredit || \"SmallBusiness\" }}",
        "keyword": "looking for a solution",
        "limit": 20,
        "additionalFields": {
          "sort": "hot"
        }
      },
      "id": "0036ead4-10ee-4cf5-be94-bd75581b3489",
      "name": "Get Posts",
      "type": "n8n-nodes-base.reddit",
      "position": [
        -1780,
        900
      ],
      "typeVersion": 1,
      "credentials": {
        "redditOAuth2Api": {
          "id": "LsRDJwtk2XnR3hhO",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Data Collection\n## Retrieves recent popular posts from specified Reddit communities\n## Filters content by engagement metrics and keywords",
        "height": 520,
        "width": 880
      },
      "id": "766de3a9-1f8e-4aa6-916c-ed1fae3d3a34",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2080,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Analysis Content\n## Emerging market needs\n## Underserved customer demands",
        "height": 680,
        "width": 820,
        "color": 4
      },
      "id": "7117d645-10e6-48e0-a54a-f21071b76015",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1020,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Insight Generation And Output \n## Generates executive summaries of key opportunities\n## Consolidates findings in Google Sheets",
        "height": 640,
        "width": 1220,
        "color": 6
      },
      "id": "da7adf03-d41c-4e35-8685-133aeff72b5e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        40,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reddit post:  {{ $json.postcontent }}",
        "options": {
          "systemMessage": "You are helpful assistant classifying redit posts.\nDecide whether the reddit post is describing a business-related problem or a need for a solution. The post should mention a specific challenge or requirement that a business is trying to address. Asses weather the problem can be solved by building a SaaS, AI Agent or some kind of automation. Ignore all other problems and solutions.\nOutput only yes or no"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -980,
        580
      ],
      "id": "ad31b58c-9b09-48ba-9997-383356c8abf7",
      "name": "Analysis Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reddit post:  \"{{ $json.postcontent }}\"\n\nProvide a concise description of a business idea or service that would adress this issue effectively for mutiple businesses facing similar challenges.\n",
        "options": {
          "systemMessage": "The user will send you a reddit post. Suggest a business idea or service that could be created to help solve this problem for this business and others with similar needs. The user is interested only in ideas that involve SaaS, AI Agents or somekind of automated workflow."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        240,
        700
      ],
      "id": "f2e45485-28b7-4133-bfe0-5c8d0ee8dceb",
      "name": "Find Proper Solutions"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "acec5a89-cd6f-4345-aa55-07cdb641288f",
              "name": "solution",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        700
      ],
      "id": "ab7fe45e-e2d6-47bb-8d58-b9fa8140838a",
      "name": "Edit Solution"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0195706d-e380-4f60-8352-7499190c601e",
              "name": "summary",
              "value": "={{ $json.response.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        520
      ],
      "id": "0a07533f-82ff-43db-b0fa-1c3e67b762e4",
      "name": "Edit Summary"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        860
      ],
      "id": "7507ae98-71f0-454b-b1a0-43b010c299fe",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "9TQJVOrXO3CFaZ06",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "subredit"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2020,
        960
      ],
      "id": "8a901982-0b3f-49d6-8bd9-f15a648ab1a9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "return [\n  \"Business_Ideas\",\n  \"Entrepreneur\",\n  \"SmallBusiness\",\n  \"Startups\",\n  \"automation\",\n  \"sysadmin\",\n  \"ChatGPT\",\n  \"OpenAI\",\n  \"PromptEngineering\",\n].map(x => ({ subredit: x }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        1400
      ],
      "id": "bcf76400-3248-46ca-bfb3-753f9d49188f",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1360,
        1400
      ],
      "id": "311fadbe-a7ac-489b-8824-cbda2d884766",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ePovZH5wdbA6OkNq",
          "mode": "list",
          "cachedResultName": "Business Ideas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "subredit": "={{ $json.subredit }}"
          },
          "matchingColumns": [
            "subredit"
          ],
          "schema": [
            {
              "id": "subredit",
              "displayName": "subredit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1140,
        1460
      ],
      "id": "97b598f6-c507-4afb-a608-a58b4838426e",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2020,
        1400
      ],
      "id": "ae644f24-f6ed-4764-a08d-3d2c17edfb06",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=:white_check_mark: Workflow {{ $workflow.name }} has completed.\nhttps://docs.google.com/spreadsheets/d/1m60I8WV3eEWnw1kLCiMUHymbGnFNpGOAEQQn6SlN33w/edit?usp=sharing",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -980,
        1320
      ],
      "id": "e5cafefe-d784-44e8-ac81-3674fab37e5d",
      "name": "Send Completed",
      "webhookId": "406dae84-c90d-47eb-821c-e639ae421ae4",
      "credentials": {
        "discordWebhookApi": {
          "id": "ejWBQLu6nGM0maKd",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=:information_source: Starting workflow {{ $workflow.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1800,
        1400
      ],
      "id": "622fa31c-e111-4beb-b572-de1b12325b63",
      "name": "Send Starting",
      "webhookId": "3a65cf99-c785-4d4f-966a-a6d83e0f922c",
      "credentials": {
        "discordWebhookApi": {
          "id": "ejWBQLu6nGM0maKd",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "apostolisCodpal",
  "repo_path": "https://github.com/apostolisCodpal/n8n-backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-22T18:09:40.000Z",
  "versionId": "bae2f17a-07ce-49c3-b8da-32fee26110cc"
}