2025/03/EYwP7vB8urgAVDve.json
{
  "active": false,
  "connections": {
    "Upload media": {
      "main": [
        [
          {
            "node": "Update Media Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [],
        [
          {
            "node": "Fix prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Mini": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WP Creds": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "WP Creds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete media": {
      "main": [
        []
      ]
    },
    "Generate image": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review image": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix prompt": {
      "main": [
        []
      ]
    },
    "Thinking model": {
      "ai_languageModel": [
        [
          {
            "node": "Fix prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Media Caption": {
      "main": [
        [
          {
            "node": "Output media object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Gemini 2.0 Flash Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        []
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash Image Generation": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-29T17:28:10.930Z",
  "id": "EYwP7vB8urgAVDve",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Generate and upload wordpress image",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('WP Creds').first().json.URL}}/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ (+new Date).toString(36).slice(-5) + Math.random().toString(36).substr(2, 5) }}.jpg\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "bc664369-269c-4b79-8b52-22ada0e53e6b",
      "name": "Upload media",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        820,
        -120
      ],
      "typeVersion": 4.1,
      "retryOnFail": true,
      "credentials": {
        "wordpressApi": {
          "id": "XgkEm6HEu6J7cAxr",
          "name": "WP Creds"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.content }}",
        "options": {
          "categories": "Positive, Negative"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        100,
        580
      ],
      "id": "414c290f-3a6c-4aac-a820-f8d396142f82",
      "name": "Sentiment Analysis",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        780
      ],
      "id": "5621bbe3-4712-48d4-8ce4-cf8396f67417",
      "name": "OpenAI Mini",
      "credentials": {
        "openAiApi": {
          "id": "I92UkH9mThS7D4I6",
          "name": "CodPal Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return $input.item.json.wpCreds;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        -120
      ],
      "id": "cca0f11f-8e8d-46e6-942e-dd0486a615e0",
      "name": "WP Creds"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "wpCreds",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        -120
      ],
      "id": "89b4912e-8b8f-424e-8e21-85777941ac94",
      "name": "Trigger"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$('WP Creds').item.json.URL}}/wp-json/wp/v2/media/{{ $('Upload media').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "force",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "c14ccf34-a3cc-4316-bc7e-2257788c772d",
      "name": "Delete media",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        860,
        600
      ],
      "typeVersion": 4.1,
      "retryOnFail": true,
      "credentials": {
        "wordpressApi": {
          "id": "XgkEm6HEu6J7cAxr",
          "name": "WP Creds"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $(\"Upload media\").all().map(x => x.json);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -120
      ],
      "id": "c55993ea-b66a-4363-8bdb-16314cfbf771",
      "name": "Output media object"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.text ?? $('Trigger').item.json.prompt }}\n\nCRITICAL RULES:\n1. Focus on specific, visually representable elements.\n2. Describe actions and scenarios rather than abstract concepts.\n3. Avoid ambiguous language that could be interpreted as including text.",
        "options": {
          "quality": "hd",
          "size": "1792x1024",
          "style": "vivid"
        }
      },
      "id": "0f6c2da1-8933-4d4b-9fe0-090a723b4d2e",
      "name": "Generate image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        380,
        -100
      ],
      "typeVersion": 1,
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "I92UkH9mThS7D4I6",
          "name": "CodPal Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "You are tasked with reviewing images for blog suitability.\n\nAn image is NOT SUITABLE if it contains ANY of the following:\n1. Malformed/distorted people, animals, buildings, or other objects\n2. ANY readable text whatsoever - this is a strict requirement:\n   - Even a single readable word or phrase makes the image unsuitable\n   - Even if the text seems relevant to the blog's content\n   - The only exception is if text is completely blurred and unreadable\n\nAn image is also NOT SUITABLE if:\n- It is low quality (blurry, pixelated, poorly composed)\n- It is difficult to understand what it depicts\n\nReview process:\n1. Carefully scan the entire image for ANY readable text\n2. Assess the visual quality and clarity of the image\n3. Explain your specific observations\n4. Make a definitive decision (SUITABLE or NOT SUITABLE)\n5. When in doubt, REJECT the image\n\nRemember: The presence of ANY readable text is an automatic rejection criterion, regardless of the text's relevance or content.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -100,
        580
      ],
      "id": "d5ef4206-ed07-49ff-b103-3f529efbe1cb",
      "name": "Review image",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "I92UkH9mThS7D4I6",
          "name": "CodPal Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Prompt: {{ $('Trigger').item.json.prompt }}\n\nRejection reason from reviewer: {{ $('Review image').item.json.content }}\n\nOutput only the updated prompt. No other comments.",
        "messages": {
          "messageValues": [
            {
              "message": "You are a DALL-E 3 prompt engineer. Your task is to analyse images that were rejected and corrected thir prompts so that they will be approved when regenerated. Please review the prompt, criteria and rejection reason and adjust re-engineer the prompt so that it will pass the review.\n\nCriteria:\nAn image is NOT SUITABLE if it contains ANY of the following:\n1. Malformed/distorted people, animals, buildings, or other objects\n2. ANY readable text whatsoever - this is a strict requirement:\n   - Even a single readable word or phrase makes the image unsuitable\n   - Even if the text seems relevant to the blog's content\n   - The only exception is if text is completely blurred and unreadable\n\nAn image is also NOT SUITABLE if:\n- It is low quality (blurry, pixelated, poorly composed)\n- It is difficult to understand what it depicts\n\nReview process:\n1. Carefully scan the entire image for ANY readable text\n2. Assess the visual quality and clarity of the image\n3. Explain your specific observations\n4. Make a definitive decision (SUITABLE or NOT SUITABLE)\n5. When in doubt, REJECT the image\n\nRemember: The presence of ANY readable text is an automatic rejection criterion, regardless of the text's relevance or content."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        500,
        600
      ],
      "id": "64ada40f-8bca-42e2-8bea-6f5b68d137a6",
      "name": "Fix prompt"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        820
      ],
      "id": "e9886471-5df8-4667-b451-6ada77236c2b",
      "name": "Thinking model",
      "credentials": {
        "openAiApi": {
          "id": "I92UkH9mThS7D4I6",
          "name": "CodPal Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('WP Creds').first().json.URL}}/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "description",
              "value": "={{ $('Trigger').first().json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "41dc8987-53e8-4ce8-9f24-21fb6ebb4b25",
      "name": "Update Media Caption",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1040,
        -120
      ],
      "typeVersion": 4.1,
      "retryOnFail": true,
      "credentials": {
        "wordpressApi": {
          "id": "XgkEm6HEu6J7cAxr",
          "name": "WP Creds"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36a56f43-e310-498a-9993-1dfaa03fb2bc",
              "name": "prompt",
              "value": "={{ `Generate an image with the following description:\n\nA vibrant futuristic office scene featuring a diverse group of professionals collaborating around holographic interfaces and AI-powered digital maps, each immersed in a global tech recruitment hub that bridges remote leadership with innovation. The image blends sleek modern design with dynamic energy, capturing the seamless integration of technology and human expertise in a high-tech, interconnected workspace.` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        -120
      ],
      "id": "4684a3a3-09a0-415b-b9f3-f83877d02c9e",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        220
      ],
      "id": "ce905af0-767e-4765-9594-0d1e8066ea96",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "mimeType": "={{ $json.mimeType }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        480,
        -360
      ],
      "id": "24a1ce32-b613-4777-ba75-38d30766d3f1",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        520
      ],
      "id": "51dc2ac6-300d-4152-a66a-4343ab4a960e",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return $input.first()?.json?.candidates?.[0]?.content?.parts?.[0]?.inlineData\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        -360
      ],
      "id": "5f3e5af8-d52a-4a59-897d-36bd9a313d91",
      "name": "Code1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp-image-generation:streamGenerateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[{\n      \"text\": \"{{ $json.prompt.replaceAll(\"\\n\", \"\\\\n\") }}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"responseModalities\": [\"image\",\"text\"],\n    \"responseMimeType\": \"text/plain\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        -120
      ],
      "id": "aefb7750-ab46-4829-be2d-05b5cb24a8ff",
      "name": "Gemini 2.0 Flash Image Generation",
      "credentials": {
        "googlePalmApi": {
          "id": "JIwT7RqCsuoKe6zJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "Trigger": [
      {
        "json": {
          "prompt": "A modern tech workspace comes alive as a seasoned, diverse tech leader animatedly engages with a group of startup founders around a sleek boardroom table, with ambient light and futuristic screens showcasing intricate digital networks and scalable architectures.",
          "wpCreds": {
            "URL": "https://codpal.com",
            "Wordpress Username": "apostolis.stephanou@gmail.com",
            "Wordpress Password": "6qbs fmaO kidl pQNm sT6I LyaU"
          }
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "apostolisCodpal",
  "repo_path": "https://github.com/apostolisCodpal/n8n-backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-02T09:19:22.000Z",
  "versionId": "e1092b47-0163-4291-bb94-0349ea6e0aa9"
}