2025/03/EYwP7vB8urgAVDve.json
{
  "active": false,
  "connections": {
    "Upload media": {
      "main": [
        [
          {
            "node": "Update Media Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [],
        [
          {
            "node": "Fix prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Mini": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WP Creds": {
      "main": [
        [
          {
            "node": "Generate image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "WP Creds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete media": {
      "main": [
        []
      ]
    },
    "Generate image": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review image": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix prompt": {
      "main": [
        []
      ]
    },
    "Thinking model": {
      "ai_languageModel": [
        [
          {
            "node": "Fix prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Media Caption": {
      "main": [
        [
          {
            "node": "Output media object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-29T17:28:10.930Z",
  "id": "EYwP7vB8urgAVDve",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Generate and upload wordpress image",
  "nodes": [
    {
      "parameters": {
        "content": "The image is generated with DALL-E 3, uploaded to WordPress, and analyzed by ChatGPT for obvious defects and regenerated if necessary",
        "height": 80,
        "width": 938,
        "color": 7
      },
      "id": "236b1a5d-25e9-4e2e-a246-9c48912ded26",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        -340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('WP Creds').item.json.URL}}/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ (+new Date).toString(36).slice(-5) + Math.random().toString(36).substr(2, 5) }}.jpg\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "bc664369-269c-4b79-8b52-22ada0e53e6b",
      "name": "Upload media",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        580,
        -120
      ],
      "typeVersion": 4.1,
      "retryOnFail": true,
      "credentials": {
        "wordpressApi": {
          "id": "XgkEm6HEu6J7cAxr",
          "name": "WP Creds"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.content }}",
        "options": {
          "categories": "Positive, Negative"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        80,
        240
      ],
      "id": "414c290f-3a6c-4aac-a820-f8d396142f82",
      "name": "Sentiment Analysis",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        440
      ],
      "id": "5621bbe3-4712-48d4-8ce4-cf8396f67417",
      "name": "OpenAI Mini",
      "credentials": {
        "openAiApi": {
          "id": "I92UkH9mThS7D4I6",
          "name": "CodPal Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return $input.item.json.wpCreds;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        -120
      ],
      "id": "cca0f11f-8e8d-46e6-942e-dd0486a615e0",
      "name": "WP Creds"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "wpCreds",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        -120
      ],
      "id": "89b4912e-8b8f-424e-8e21-85777941ac94",
      "name": "Trigger"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$('WP Creds').item.json.URL}}/wp-json/wp/v2/media/{{ $('Upload media').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "force",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "c14ccf34-a3cc-4316-bc7e-2257788c772d",
      "name": "Delete media",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1040,
        300
      ],
      "typeVersion": 4.1,
      "retryOnFail": true,
      "credentials": {
        "wordpressApi": {
          "id": "XgkEm6HEu6J7cAxr",
          "name": "WP Creds"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $(\"Upload media\").all().map(x => x.json);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -120
      ],
      "id": "c55993ea-b66a-4363-8bdb-16314cfbf771",
      "name": "Output media object"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.text ?? $('Trigger').item.json.prompt }}\n\nCRITICAL RULES:\n1. Focus on specific, visually representable elements.\n2. Describe actions and scenarios rather than abstract concepts.\n3. Avoid ambiguous language that could be interpreted as including text.",
        "options": {
          "quality": "hd",
          "size": "1792x1024",
          "style": "vivid"
        }
      },
      "id": "0f6c2da1-8933-4d4b-9fe0-090a723b4d2e",
      "name": "Generate image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -260,
        -120
      ],
      "typeVersion": 1,
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "I92UkH9mThS7D4I6",
          "name": "CodPal Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "You are tasked with reviewing images for blog suitability.\n\nAn image is NOT SUITABLE if it contains ANY of the following:\n1. Malformed/distorted people, animals, buildings, or other objects\n2. ANY readable text whatsoever - this is a strict requirement:\n   - Even a single readable word or phrase makes the image unsuitable\n   - Even if the text seems relevant to the blog's content\n   - The only exception is if text is completely blurred and unreadable\n\nAn image is also NOT SUITABLE if:\n- It is low quality (blurry, pixelated, poorly composed)\n- It is difficult to understand what it depicts\n\nReview process:\n1. Carefully scan the entire image for ANY readable text\n2. Assess the visual quality and clarity of the image\n3. Explain your specific observations\n4. Make a definitive decision (SUITABLE or NOT SUITABLE)\n5. When in doubt, REJECT the image\n\nRemember: The presence of ANY readable text is an automatic rejection criterion, regardless of the text's relevance or content.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -120,
        240
      ],
      "id": "d5ef4206-ed07-49ff-b103-3f529efbe1cb",
      "name": "Review image",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "I92UkH9mThS7D4I6",
          "name": "CodPal Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Prompt: {{ $('Trigger').item.json.prompt }}\n\nRejection reason from reviewer: {{ $('Review image').item.json.content }}\n\nOutput only the updated prompt. No other comments.",
        "messages": {
          "messageValues": [
            {
              "message": "You are a DALL-E 3 prompt engineer. Your task is to analyse images that were rejected and corrected thir prompts so that they will be approved when regenerated. Please review the prompt, criteria and rejection reason and adjust re-engineer the prompt so that it will pass the review.\n\nCriteria:\nAn image is NOT SUITABLE if it contains ANY of the following:\n1. Malformed/distorted people, animals, buildings, or other objects\n2. ANY readable text whatsoever - this is a strict requirement:\n   - Even a single readable word or phrase makes the image unsuitable\n   - Even if the text seems relevant to the blog's content\n   - The only exception is if text is completely blurred and unreadable\n\nAn image is also NOT SUITABLE if:\n- It is low quality (blurry, pixelated, poorly composed)\n- It is difficult to understand what it depicts\n\nReview process:\n1. Carefully scan the entire image for ANY readable text\n2. Assess the visual quality and clarity of the image\n3. Explain your specific observations\n4. Make a definitive decision (SUITABLE or NOT SUITABLE)\n5. When in doubt, REJECT the image\n\nRemember: The presence of ANY readable text is an automatic rejection criterion, regardless of the text's relevance or content."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        480,
        260
      ],
      "id": "64ada40f-8bca-42e2-8bea-6f5b68d137a6",
      "name": "Fix prompt"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        480
      ],
      "id": "e9886471-5df8-4667-b451-6ada77236c2b",
      "name": "Thinking model",
      "credentials": {
        "openAiApi": {
          "id": "I92UkH9mThS7D4I6",
          "name": "CodPal Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('WP Creds').item.json.URL}}/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "description",
              "value": "={{ $('Trigger').item.json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "41dc8987-53e8-4ce8-9f24-21fb6ebb4b25",
      "name": "Update Media Caption",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        800,
        -120
      ],
      "typeVersion": 4.1,
      "retryOnFail": true,
      "credentials": {
        "wordpressApi": {
          "id": "XgkEm6HEu6J7cAxr",
          "name": "WP Creds"
        }
      }
    }
  ],
  "pinData": {
    "Trigger": [
      {
        "json": {
          "prompt": "A modern tech workspace comes alive as a seasoned, diverse tech leader animatedly engages with a group of startup founders around a sleek boardroom table, with ambient light and futuristic screens showcasing intricate digital networks and scalable architectures.",
          "wpCreds": {
            "URL": "https://codpal.com",
            "Wordpress Username": "apostolis.stephanou@gmail.com",
            "Wordpress Password": "6qbs fmaO kidl pQNm sT6I LyaU"
          }
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "apostolisCodpal",
  "repo_path": "https://github.com/apostolisCodpal/n8n-backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-30T14:55:28.000Z",
  "versionId": "001b8ffa-375f-4db7-b206-5ce84ce22668"
}