2025/03/J2QLSltFmyhppvAV.json
{
  "active": false,
  "connections": {
    "Get Webhooks": {
      "main": [
        [
          {
            "node": "If Wordpress Webhook Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Clients Webhook Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Webhook": {
      "main": [
        [
          {
            "node": "Update Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Wordpress Webhook Exists": {
      "main": [
        [],
        [
          {
            "node": "Create Wordpress Clients Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Clients Webhook Exists": {
      "main": [
        [],
        [
          {
            "node": "Create Clients Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Clients Webhook": {
      "main": [
        [
          {
            "node": "Create Clients Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Refresh Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Once every 5 days": {
      "main": [
        [
          {
            "node": "Get Webhooks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Wordpress Clients Webhook": {
      "main": [
        [
          {
            "node": "Create Wordpress Clients Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Get all webhooks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Delete Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Webhooks1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Webhook": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete all webhooks": {
      "main": [
        [
          {
            "node": "Get Webhooks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all webhooks": {
      "main": [
        [
          {
            "node": "Delete Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Webhook": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-20T14:32:49.229Z",
  "id": "J2QLSltFmyhppvAV",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Airtable Webhook Creator",
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/bases/{{ $vars.airtable_app_id }}/webhooks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        0
      ],
      "id": "12866687-6083-46a2-b9ee-464fac4cc18f",
      "name": "Get Webhooks",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "f9JH5DCFMvod79bz",
          "name": "Airtable Personal Access Token account"
        },
        "airtableApi": {
          "id": "UQxpdbligJueE1uN",
          "name": "Airtable account"
        },
        "httpHeaderAuth": {
          "id": "pLH5Anmy9qYQpX6J",
          "name": "Airtable Bearer Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/bases/{{ $vars.airtable_app_id }}/webhooks/{{ $json.id }}/refresh",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        300
      ],
      "id": "57ae8bfc-ed26-4a62-a66f-7ee8b4e439d6",
      "name": "Refresh Webhook",
      "credentials": {
        "airtableTokenApi": {
          "id": "f9JH5DCFMvod79bz",
          "name": "Airtable Personal Access Token account"
        },
        "httpHeaderAuth": {
          "id": "pLH5Anmy9qYQpX6J",
          "name": "Airtable Bearer Access Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c353fe5-a2fd-48be-bf39-f860e806591d",
              "leftValue": "={{ $json.webhooks.findIndex(x => x.specification.options.filters.recordChangeScope == \"tblty7DapzrDJ6cV6\") }}",
              "rightValue": -1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        -380
      ],
      "id": "79a715eb-1f3d-4789-aa94-2c3388a638ba",
      "name": "If Wordpress Webhook Exists",
      "notesInFlow": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c353fe5-a2fd-48be-bf39-f860e806591d",
              "leftValue": "={{ $json.webhooks.findIndex(x => x.specification.options.filters.recordChangeScope == \"tblfU3UiMHDL5DnNu\") }}",
              "rightValue": -1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        -180
      ],
      "id": "74ad863f-1cdd-403a-93df-1a73db739d26",
      "name": "If Clients Webhook Exists",
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/bases/{{ $vars.airtable_app_id }}/webhooks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"notificationUrl\": \"{{ $vars.airtable_webhook_clients }}\",\n    \"specification\": {\n      \"options\": {\n        \"filters\": {\n          \"dataTypes\": [\n            \"tableData\"\n          ],\n          \"recordChangeScope\": \"{{ $vars.airtable_table_id_clients }}\"\n        },\n        \"includes\": {\n          \"includePreviousCellValues\": true\n        }\n      }\n    }\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        -160
      ],
      "id": "877fdcfc-c6b1-41ee-9008-b82a5f0fe68a",
      "name": "Create Clients Webhook",
      "credentials": {
        "airtableTokenApi": {
          "id": "f9JH5DCFMvod79bz",
          "name": "Airtable Personal Access Token account"
        },
        "httpHeaderAuth": {
          "id": "pLH5Anmy9qYQpX6J",
          "name": "Airtable Bearer Access Token"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        940,
        220
      ],
      "id": "bc87843a-860f-4483-b712-19b1232d2543",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        300
      ],
      "id": "e38ce5bd-70c9-4c40-9906-d73b5d8f39e8",
      "name": "Wait",
      "webhookId": "52de2d93-4665-420a-90c4-e16e52819eb7"
    },
    {
      "parameters": {
        "fieldToSplitOut": "webhooks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        120
      ],
      "id": "7c64df92-82df-4a01-939f-5081306a36df",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "91c1c97b-cb1a-4d80-87b6-929e7e97d10c",
      "name": "Once every 5 days"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/bases/{{ $vars.airtable_app_id }}/webhooks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"notificationUrl\": \"{{ $vars.airtable_webhook_wordpress_clients }}\",\n    \"specification\": {\n      \"options\": {\n        \"filters\": {\n          \"dataTypes\": [\n            \"tableData\"\n          ],\n          \"recordChangeScope\": \"{{ $vars.airtable_table_id_wordpress_clients}}\"\n        },\n        \"includes\": {\n          \"includePreviousCellValues\": true\n        }\n      }\n    }\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        -360
      ],
      "id": "0676f02d-2a92-4200-acf3-d4d558fce85c",
      "name": "Create Wordpress Clients Webhook",
      "credentials": {
        "airtableTokenApi": {
          "id": "f9JH5DCFMvod79bz",
          "name": "Airtable Personal Access Token account"
        },
        "httpHeaderAuth": {
          "id": "pLH5Anmy9qYQpX6J",
          "name": "Airtable Bearer Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app3foHr3iDjZBLvs",
          "mode": "list",
          "cachedResultName": "Engineering Prototype Builder",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs"
        },
        "table": {
          "__rl": true,
          "value": "tbl514QNEYB7CkLKO",
          "mode": "list",
          "cachedResultName": "Webhooks",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs/tbl514QNEYB7CkLKO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "webhook_id": "={{ $json.id }}",
            "expirationTime": "={{ $json.expirationTime }}",
            "macSecretBase64": "={{ $json.macSecretBase64 }}",
            "table_id": "={{ $vars.airtable_table_id_wordpress_clients }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "webhook_id",
              "displayName": "webhook_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "table_id",
              "displayName": "table_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expirationTime",
              "displayName": "expirationTime",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "macSecretBase64",
              "displayName": "macSecretBase64",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cursor",
              "displayName": "cursor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified Time",
              "displayName": "Last Modified Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1560,
        -360
      ],
      "id": "ba155f01-0835-4bee-81de-bcd0e4264b5e",
      "name": "Create Wordpress Clients Webhook1",
      "credentials": {
        "airtableTokenApi": {
          "id": "f9JH5DCFMvod79bz",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app3foHr3iDjZBLvs",
          "mode": "list",
          "cachedResultName": "Engineering Prototype Builder",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs"
        },
        "table": {
          "__rl": true,
          "value": "tbl514QNEYB7CkLKO",
          "mode": "list",
          "cachedResultName": "Webhooks",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs/tbl514QNEYB7CkLKO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "webhook_id": "={{ $json.id }}",
            "expirationTime": "={{ $json.expirationTime }}",
            "macSecretBase64": "={{ $json.macSecretBase64 }}",
            "table_id": "={{ $vars.airtable_table_id_clients }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "webhook_id",
              "displayName": "webhook_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "table_id",
              "displayName": "table_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expirationTime",
              "displayName": "expirationTime",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "macSecretBase64",
              "displayName": "macSecretBase64",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cursor",
              "displayName": "cursor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified Time",
              "displayName": "Last Modified Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1560,
        -160
      ],
      "id": "71467bbc-402d-4511-86a5-360914df998e",
      "name": "Create Clients Webhook1",
      "credentials": {
        "airtableTokenApi": {
          "id": "f9JH5DCFMvod79bz",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/bases/{{ $vars.airtable_app_id }}/webhooks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        20
      ],
      "id": "72429c6e-1f63-4d58-8fc3-ffa900e6c265",
      "name": "Get Webhooks1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "f9JH5DCFMvod79bz",
          "name": "Airtable Personal Access Token account"
        },
        "airtableApi": {
          "id": "UQxpdbligJueE1uN",
          "name": "Airtable account"
        },
        "httpHeaderAuth": {
          "id": "pLH5Anmy9qYQpX6J",
          "name": "Airtable Bearer Access Token"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2980,
        120
      ],
      "id": "4ea8580f-c2ca-410f-a544-68d3e3955f25",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3240,
        200
      ],
      "id": "6d5536c8-1184-4423-9c9d-31f44b9a3481",
      "name": "Wait1",
      "webhookId": "52de2d93-4665-420a-90c4-e16e52819eb7"
    },
    {
      "parameters": {
        "fieldToSplitOut": "webhooks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2700,
        20
      ],
      "id": "39260dfc-5c7c-4895-a3f7-1f0f0fdf0919",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.airtable.com/v0/bases/{{ $vars.airtable_app_id }}/webhooks/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        200
      ],
      "id": "1746ec0b-d2db-43ee-bf7b-02a4476015e2",
      "name": "Delete Webhook",
      "credentials": {
        "airtableTokenApi": {
          "id": "f9JH5DCFMvod79bz",
          "name": "Airtable Personal Access Token account"
        },
        "httpHeaderAuth": {
          "id": "pLH5Anmy9qYQpX6J",
          "name": "Airtable Bearer Access Token"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2260,
        20
      ],
      "id": "7496669f-e9ef-42b6-a3f1-8d5383d5e5ee",
      "name": "Delete all webhooks"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app3foHr3iDjZBLvs",
          "mode": "list",
          "cachedResultName": "Engineering Prototype Builder",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs"
        },
        "table": {
          "__rl": true,
          "value": "tbl514QNEYB7CkLKO",
          "mode": "list",
          "cachedResultName": "Webhooks",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs/tbl514QNEYB7CkLKO"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3240,
        0
      ],
      "id": "541a650b-2ba0-4389-b554-b4fae0bd90ad",
      "name": "Get all webhooks",
      "credentials": {
        "airtableTokenApi": {
          "id": "f9JH5DCFMvod79bz",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "app3foHr3iDjZBLvs",
          "mode": "list",
          "cachedResultName": "Engineering Prototype Builder",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs"
        },
        "table": {
          "__rl": true,
          "value": "tbl514QNEYB7CkLKO",
          "mode": "list",
          "cachedResultName": "Webhooks",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs/tbl514QNEYB7CkLKO"
        },
        "id": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3440,
        0
      ],
      "id": "4bea305c-b720-47b2-9cc6-5377ee434e3d",
      "name": "Delete Row",
      "credentials": {
        "airtableTokenApi": {
          "id": "f9JH5DCFMvod79bz",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app3foHr3iDjZBLvs",
          "mode": "list",
          "cachedResultName": "Engineering Prototype Builder",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs"
        },
        "table": {
          "__rl": true,
          "value": "tbl514QNEYB7CkLKO",
          "mode": "list",
          "cachedResultName": "Webhooks",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs/tbl514QNEYB7CkLKO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "webhook_id": "={{ $('Loop Over Items').item.json.id }}",
            "expirationTime": "={{ $json.expirationTime }}",
            "Last Modified Time": "={{ $now }}"
          },
          "matchingColumns": [
            "webhook_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "webhook_id",
              "displayName": "webhook_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "table_id",
              "displayName": "table_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "expirationTime",
              "displayName": "expirationTime",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "macSecretBase64",
              "displayName": "macSecretBase64",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "cursor",
              "displayName": "cursor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified Time",
              "displayName": "Last Modified Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1580,
        300
      ],
      "id": "6e4abe84-2eac-4445-95b4-a2e8a272a7a2",
      "name": "Update Webhook",
      "credentials": {
        "airtableTokenApi": {
          "id": "f9JH5DCFMvod79bz",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "apostolisCodpal",
  "repo_path": "https://github.com/apostolisCodpal/n8n-backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-25T13:34:17.000Z",
  "versionId": "210de0fb-9815-49d0-8723-58b19414e848"
}