2025/03/LJeRjkaNnZAhxS0W.json
{
  "active": false,
  "connections": {
    "Fetch latest SEO Content Strategy": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Decode File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Fetch latest SEO Content Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-24T20:04:52.729Z",
  "id": "LJeRjkaNnZAhxS0W",
  "meta": null,
  "name": "Get Latest SEO Content Strategy",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "wordpressClientIdentifier",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        20,
        20
      ],
      "id": "f3faf5cc-d454-4b43-8737-b49ef938091e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app3foHr3iDjZBLvs",
          "mode": "list",
          "cachedResultName": "Engineering Prototype Builder",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs"
        },
        "table": {
          "__rl": true,
          "value": "tblC4sKplGpZuUPYz",
          "mode": "list",
          "cachedResultName": "SEO Content Research",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs/tblC4sKplGpZuUPYz"
        },
        "filterByFormula": "={Wordpress Client Identifier}={{ $json.wordpressClientIdentifier }}",
        "returnAll": false,
        "limit": 1,
        "options": {
          "downloadFields": [
            "Attachments"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "Date",
              "direction": "desc"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        260,
        20
      ],
      "id": "8f73e24c-1dab-4173-b3d5-eb13435b7764",
      "name": "Fetch latest SEO Content Strategy",
      "credentials": {
        "airtableTokenApi": {
          "id": "f9JH5DCFMvod79bz",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b4ee9709-e9b3-4146-8cef-3651f8a763b5",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        20
      ],
      "id": "d00b06c8-fe62-4de8-aca0-2f274e07a5b1",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "Attachments_0",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        760,
        0
      ],
      "id": "22b6029e-fdee-4b2c-863e-1f2a5a7da9eb",
      "name": "Decode File"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  ...$('If').item.json,\n  fileContent: $json.content,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        0
      ],
      "id": "78bc22e2-e399-4b88-8a13-032dc2013630",
      "name": "Code"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "wordpressClientIdentifier": 1
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "apostolisCodpal",
  "repo_path": "https://github.com/apostolisCodpal/n8n-backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-24T20:20:08.000Z",
  "versionId": "ba5cddc1-a24a-4588-8db1-6b3cc446e0ae"
}