2025/03/nbZid86Ue8z6s5HW.json
{
  "active": true,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client": {
      "main": [
        [
          {
            "node": "Wordpress Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress Client": {
      "main": [
        [
          {
            "node": "If is voice message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "If not /start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Copywriter",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Action Typing": {
      "main": [
        [
          {
            "node": "Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not /start": {
      "main": [
        [
          {
            "node": "WP Creds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idea Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Copywriter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter": {
      "main": [
        [
          {
            "node": "Reply to user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Copywriter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Create Blog Post Tool": {
      "ai_tool": [
        [
          {
            "node": "Copywriter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Copywriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Publish Post": {
      "ai_tool": [
        [
          {
            "node": "Copywriter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If is voice message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP Creds": {
      "main": [
        [
          {
            "node": "Action Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Post Scheduler": {
      "ai_tool": [
        [
          {
            "node": "Copywriter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-25T06:36:25.606Z",
  "id": "nbZid86Ue8z6s5HW",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Content Creator Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1360,
        280
      ],
      "id": "233140ef-c23a-4218-ab01-716d106d45d2",
      "name": "Telegram Trigger",
      "webhookId": "78f5a17f-0062-4575-aa88-b474e61833d4",
      "credentials": {
        "telegramApi": {
          "id": "EHNvbxKETcV3t5MW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app3foHr3iDjZBLvs",
          "mode": "list",
          "cachedResultName": "Engineering Prototype Builder",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs"
        },
        "table": {
          "__rl": true,
          "value": "tblfU3UiMHDL5DnNu",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs/tblfU3UiMHDL5DnNu"
        },
        "filterByFormula": "=AND({Messaging App}=\"Telegram\", {Messaging App User}=\"@{{ $('Telegram Trigger').item.json.message.from.username }}\")",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1100,
        280
      ],
      "id": "94f52344-4037-4e6d-bad9-e40572a95d31",
      "name": "Client",
      "credentials": {
        "airtableTokenApi": {
          "id": "f9JH5DCFMvod79bz",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app3foHr3iDjZBLvs",
          "mode": "list",
          "cachedResultName": "Engineering Prototype Builder",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs"
        },
        "table": {
          "__rl": true,
          "value": "tblty7DapzrDJ6cV6",
          "mode": "list",
          "cachedResultName": "Wordpress Clients",
          "cachedResultUrl": "https://airtable.com/app3foHr3iDjZBLvs/tblty7DapzrDJ6cV6"
        },
        "id": "={{ $json['Wordpress Clients'][0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1100,
        520
      ],
      "id": "571f9556-b162-4d34-bf4e-dc5b81b3a2d5",
      "name": "Wordpress Client",
      "credentials": {
        "airtableTokenApi": {
          "id": "f9JH5DCFMvod79bz",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "635b6aa3-4766-4b29-b318-e23d2a96ccfc",
              "name": "id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "259c6506-e038-4729-ae4b-37a73281a7c4",
              "name": "Name",
              "value": "={{ $('Client').item.json.Name }}",
              "type": "string"
            },
            {
              "id": "1da58776-5c25-41d4-9294-a6d985ea1c9d",
              "name": "urlEncoded",
              "value": "={{ $('Wordpress Client').item.json.URL.base64Encode() }}",
              "type": "string"
            },
            {
              "id": "8c863289-b1dd-4122-ac06-d825aa1d8581",
              "name": "telegramChatId",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "8c75bb0f-c975-41a5-ba35-b293624d865b",
              "name": "message",
              "value": "={{ $('Telegram Trigger').item.json.message.text ?? $('Transcribe Audio').item.json.text }}",
              "type": "string"
            },
            {
              "id": "1d00fb9b-7478-45a6-90b2-9b7056f7d6dc",
              "name": "wordpressUsername",
              "value": "={{ $('Wordpress Client').item.json[\"Wordpress Username\"] }}",
              "type": "string"
            },
            {
              "id": "2faa367f-ce60-4235-a8ee-06ef72a52303",
              "name": "wordpressPassword",
              "value": "={{ $('Wordpress Client').item.json[\"Wordpress Password\"] }}",
              "type": "string"
            },
            {
              "id": "96145c8b-5eb2-4baa-b018-7f26dda1ce1c",
              "name": "wordpressUrl",
              "value": "={{ $('Wordpress Client').item.json.URL }}",
              "type": "string"
            },
            {
              "id": "f9aadfa4-4037-45b5-8888-ae2d897bfd35",
              "name": "wordpressClientId",
              "value": "={{ $('Wordpress Client').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        520
      ],
      "id": "019b43a7-cadb-447f-abf3-ed17250b9a7b",
      "name": "Config"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=copywriter6-{{ $('Config').item.json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        620
      ],
      "id": "921943ba-0d88-48ad-aae7-45ce02518194",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Config').item.json.telegramChatId }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        380
      ],
      "id": "ad4aba58-5341-4139-ba01-85910e1e3143",
      "name": "Action Typing",
      "webhookId": "bac8b6dd-e07b-499e-99bc-e33e1bbf1246",
      "credentials": {
        "telegramApi": {
          "id": "EHNvbxKETcV3t5MW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "abe3be92-7f5e-4f9d-8116-0bf639975b96",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        120,
        520
      ],
      "id": "9d0a6634-b59d-4d2e-9db1-8d3d957532e9",
      "name": "If not /start"
    },
    {
      "parameters": {
        "name": "idea_agent",
        "description": "Generates an idea for a post using an SEO Content Strategy document. The agent has memory, so you can request new ideas if the user is not satisfied. The agent has access to the latest seoContentStrategy, you do not need to send it.",
        "workflowId": {
          "__rl": true,
          "value": "poonN77q8k2q5Laz",
          "mode": "list",
          "cachedResultName": "Blog Post Idea Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `Send a message to the agent asking them to generate an idea..`, 'string') }}",
            "config": "={{ $('Config').item.json }}"
          },
          "matchingColumns": [
            "route"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "config",
              "displayName": "config",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        860,
        780
      ],
      "id": "c7403771-0b95-446d-aa41-a4268c038e13",
      "name": "Idea Agent Tool"
    },
    {
      "parameters": {
        "chatId": "={{ $('Config').item.json.telegramChatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1300,
        380
      ],
      "id": "878c1e5f-a1ce-4a27-ae61-26bec570781a",
      "name": "Reply to user",
      "webhookId": "077e413c-2611-45e3-842f-0c76932ac034",
      "credentials": {
        "telegramApi": {
          "id": "EHNvbxKETcV3t5MW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Config').item.json.message }}",
        "options": {
          "systemMessage": "=You are an expert SEO copywriter with access to powerful content creation tools:\n- idea_agent for generating SEO-driven blog post ideas\n- create_blog_post for content generation\n- publish_post for publishing a blog post\n- blog_post_scheduler for scheduling repeated blog posts on a set cadence\n- website_knowledge_base for research grounded in your site's existing content\n\nCurrent Date: {{ $now.format('yyyy-MM-dd HH:mm') }}\n\nCRITICAL WORKFLOW INSTRUCTIONS (Follow these exactly):\n\n1. NEW BLOG POST CREATION PROCESS:\n   - FIRST generate ideas using idea_agent\n   - WAIT for explicit user APPROVAL before proceeding\n   - Use create_blog_post ONLY after user confirms an idea\n   - Publish a post ONLY if the user explicitly requests and approves\n\n2. REPEATING CONTENT REQUESTS:\n   - When a user asks for recurring/repeated blog posts, EXCLUSIVELY use blog_post_scheduler\n   - NEVER attempt to create immediate blog posts when handling recurring content requests\n   - Collect all necessary scheduling parameters (topic, frequency, start date, time) before using the scheduler\n   - Confirm scheduling details with the user before finalizing\n\n3. KNOWLEDGE & RESPONSE GUIDELINES:\n   - ALWAYS consult website_knowledge_base for ANY user questions to ensure factual accuracy\n   - If ideas are rejected, generate new options until user approves\n   - If tools return ALREADY_GENERATING error, inform the user processing is in progress and to try again later\n   - For any other tool errors, politely ask the user to try again later\n\nRemember: You are an assistant focused on high-quality SEO content creation. Always maintain a helpful, professional tone while strictly following these workflow instructions. Keep the user informed with what you are doing.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        900,
        380
      ],
      "id": "4b0ba40d-a5eb-4a23-ba9e-6eb625723aaa",
      "name": "Copywriter"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "website_knowledge_base",
        "toolDescription": "Semantic search on all website data. Use this search tool to answer questions grounded to the user's website data.",
        "pineconeIndex": {
          "__rl": true,
          "value": "wordpress-blogs",
          "mode": "list",
          "cachedResultName": "wordpress-blogs"
        },
        "options": {
          "pineconeNamespace": "=wordpress-{{ $('Config').item.json.urlEncoded }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1140,
        760
      ],
      "id": "6a12c21d-c25e-434c-bb32-7c4ef8dbf968",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "aM3CTptjeioEW1ye",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1100,
        900
      ],
      "id": "8b039e88-f436-4383-bb03-bee0afc7a2f0",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "I92UkH9mThS7D4I6",
          "name": "CodPal Account"
        }
      }
    },
    {
      "parameters": {
        "name": "create_blog_post",
        "description": "Call this tool to create a new blog post. This tool will conduct SEO research, create a keyword strategy, generate a new SEO optimised blog post and upload it to the user's wordpress site together with a newly generated image. The post is uploaded in Draft status.",
        "workflowId": {
          "__rl": true,
          "value": "Q4DvK9uZrWi0Sqir",
          "mode": "list",
          "cachedResultName": "Generate Wordpress Post"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "wordpressClientId": "={{ $('Config').item.json.wordpressClientId }}",
            "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('title', `The title generated by the idea agent`, 'string') }}",
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', `The description generated by the idea agent`, 'string') }}",
            "comments": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('comments', ``, 'string') }}",
            "acknowledgeInTelegramChatId": "={{ $('Config').item.json.telegramChatId }}"
          },
          "matchingColumns": [
            "route"
          ],
          "schema": [
            {
              "id": "wordpressClientId",
              "displayName": "wordpressClientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "acknowledgeInTelegramChatId",
              "displayName": "acknowledgeInTelegramChatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        980,
        680
      ],
      "id": "425bea77-12ad-4843-b165-f8610e694088",
      "name": "Create Blog Post Tool"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramChatId }}",
        "text": "=Hello! I'm your SEO-focused copywriter assistant. I specialize in creating engaging blog content tailored to your business. I can help you:\n\n• Generate blog post ideas\n• Create SEO-optimized content\n• Answer questions about your website content\n\nWould you like to start by brainstorming some blog post ideas for your business?",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        380,
        660
      ],
      "id": "05a2872b-460f-459a-affa-cd423454de78",
      "name": "Send Welcome Message",
      "webhookId": "40d23887-38a6-4899-93e5-cf5a25541ea0",
      "credentials": {
        "telegramApi": {
          "id": "EHNvbxKETcV3t5MW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        620
      ],
      "id": "731c17ed-6aca-4c9e-8788-02667946a1ae",
      "name": "Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I92UkH9mThS7D4I6",
          "name": "CodPal Account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Publish a wordpress post",
        "operation": "update",
        "postId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Post_ID', ``, 'string') }}",
        "updateFields": {
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpressTool",
      "typeVersion": 1,
      "position": [
        1100,
        620
      ],
      "id": "9119c9d8-3807-4082-ad26-818558773602",
      "name": "Publish Post",
      "credentials": {
        "wordpressApi": {
          "id": "XgkEm6HEu6J7cAxr",
          "name": "WP Creds"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -500,
        340
      ],
      "id": "54a99311-9361-478e-8492-dd945b877438",
      "name": "Get File",
      "webhookId": "cd83ecc7-819b-4d74-bf6d-3cd52cbad1e8",
      "credentials": {
        "telegramApi": {
          "id": "EHNvbxKETcV3t5MW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4dc577eb-e2ce-42ce-b833-e0c093316284",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.voice?.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -940,
        520
      ],
      "id": "a47c6d30-764b-41b8-a18c-da99e3eceeb6",
      "name": "If is voice message"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -340,
        340
      ],
      "id": "fd1632ba-4e3f-4675-8123-4d62997069ce",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "I92UkH9mThS7D4I6",
          "name": "CodPal Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c49d33b-5b3a-4aad-8ed6-c4c57e8c5d18",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_size }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        420
      ],
      "id": "dfa91778-cfd1-45ed-bf0f-f587866947d4",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4ee67b3-b417-4baa-910d-1caac99b5456",
              "name": "URL",
              "value": "={{ $('Config').first().json.wordpressUrl }}",
              "type": "string"
            },
            {
              "id": "7f471c0a-8e38-479e-9070-65e925c7e67f",
              "name": "Wordpress Username",
              "value": "={{ $('Config').first().json.wordpressUsername }}",
              "type": "string"
            },
            {
              "id": "17fb6dd9-fed5-4c24-83fa-73a1c4a08844",
              "name": "Wordpress Password",
              "value": "={{ $('Config').first().json.wordpressPassword }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        380
      ],
      "id": "fce62efd-d300-4588-a491-b82c3925abef",
      "name": "WP Creds"
    },
    {
      "parameters": {
        "name": "blog_post_scheduler",
        "description": "Call this agent tool to manage scheduled blog posts. You can ask to get the existing schedule and make changes to it.",
        "workflowId": {
          "__rl": true,
          "value": "ZNg8Lh17sNu1ysrZ",
          "mode": "list",
          "cachedResultName": "Wordpress Post Scheduling Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "wordpressClientId": "={{ $('Config').item.json.wordpressClientId }}",
            "chatId": "={{ $('Config').first().json.telegramChatId }}",
            "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "wordpressClientId",
              "displayName": "wordpressClientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1320,
        620
      ],
      "id": "cae75160-ace5-49a7-a619-1fd3b1118795",
      "name": "Blog Post Scheduler"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "apostolisCodpal",
  "repo_path": "https://github.com/apostolisCodpal/n8n-backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-03T09:27:17.000Z",
  "versionId": "f486ca5d-b902-4b62-aa69-8c4c13e33e45"
}